<h1>Bitly</h1>


<%= session[:user_id] %>

<%  if @user %>
  <br>
  <p>Introduce tu URL comenzando con "http://www."</p>
  <%= erb :_urls %>
  <p>Estos son tus URLs <%= @user.first_name %></p>
  <% if @urls%>
   <% @urls.each do|x| %>
    <% if x.user_id == session[:user_id] %>
   <%= x.long_url %> <br><a href="/<%=x.id %>"><%="http://bitly.com/" + x.short_url %></a><br>
    <a><%= "Contador de visitas: #{x.counter}" %></a><br><br>
   <% end %>
    <% end %>
  <% else%>
   <% Url.all.each do|x| %>
   <% if x.user_id == session[:user_id] %>
   <%= x.long_url %> <br><a href="/<%=x.id %>"><%="http://bitly.com/"+x.short_url%> </a><br>
   <a><%= "Contador de visitas: #{x.counter}" %></a><br><br>
    <% end %>
    <% end %>
  <% end%>
  <a href="/signout/out">Cerrar Sesión</a>

<% else %>
  <p>Lo siento, pero no has iniciado sesión</p>
  <a href="/start">Inicio</a>
<% end %>



