  <h1><%= @post_view.title %></h1>
  <p><%= @post_view.body %></p>

  <ul class="list-inline container-fluid"><% @post_view.tags.each do |y| %><li><a href="/tag/<%=y.name%>"><%=y.name%></a> </li><% end %></ul>
<br>
<br>
<p>
<a href="/post/<%= @post_view.id %>/edit"><i class="fa fa-pencil"></i> &nbsp;Editar</a><br>
<a href="/post/<%= @post_view.id %>/delete"><i class="fa fa-times"></i> &nbsp;Borrar</a>
</p>