<h1><i class="fa fa-rocket"></i>&nbsp;Rocket Survey</h1>
  <h4>All Surveys</h4><br>

<br><br>

<% @survey.each do|x| %>
    <h3><a href="/survey/all/<%=x.id%>"><%=x.title%></a></h3><h5> Created by: <%= @user.find(@record.find_by(survey_id: x.id).user_id).first_name %>&nbsp;<%= @user.find(@record.find_by(survey_id: x.id).user_id).last_name %></h5>
    <%=x.surv_date%><br>
<% end %>