 <h1><%= @survey.title %></h1>

<br>
<br>
<% Question.all.each do|x| %>
    <% if x.survey_id == @survey.id %>
     <h4><%=x.title%></h4>
    
    <ol>
    <% @answer.each do |y| %>
      <% if y.question_id == x.id %>
       <li class="inactive_answer"><input name="answer_id" type="hidden" value="<%=y.id%>"><%=y.title%></li>
      <% end %>
      <% end %>
    <% end %></ol><br>
<% end %>

<br>
<form>
<input  id="survey_id" type="hidden" name="survey_id" value="<%=@survey.id%>">
</form>
<button id="send_survey" class="btn btn-primary" type="button">Send Survey</button>